@media only screen and (max-width: 900px) {
    #zero_config>thead>tr>th:nth-child(8){
        display: none;
    }

    #zero_config>tbody>tr>td:nth-child(8){
        display: none;
    }
}


@media only screen and (max-width: 750px) {
    #zero_config>thead>tr>th:nth-child(1){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(6){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(8){
        display: none;
    }


    #zero_config>tbody>tr>td:nth-child(1){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(6){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(8){
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    #zero_config>thead>tr>th:nth-child(1){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(4){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(6){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(8){
        display: none;
    }


    #zero_config>tbody>tr>td:nth-child(1){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(4){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(6){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(8){
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    #zero_config>thead>tr>th:nth-child(1){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(4){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(5){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(6){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(7){
        display: none;
    }
    #zero_config>thead>tr>th:nth-child(8){
        display: none;
    }


    #zero_config>tbody>tr>td:nth-child(1){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(4){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(5){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(6){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(7){
        display: none;
    }
    #zero_config>tbody>tr>td:nth-child(8){
        display: none;
    }
}